.music-search {
    padding: 0 30px;
    .music-search-track {
        position: relative;
        border-bottom: 1px solid gray;
        .album-art {
            width: 100px;
            height: 100px;
            float: left;
            //background-image: `url(${track.album.cover_xl})`, 
            background-size: cover;
            margin-right: 30px;
        }
        .track-meta {
            width: calc(100% - 300px);
            position: absolute;
            left: 130px;
            top: 50%;
            transform: translateY(-50%);
            h2 {
                color: #000;
                margin: 0 0 5px 0;
                font-size: 20px;
            }
            p, i {
                color: #888;
                margin: 0;
            }
        }
        .controls {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            .material-icons {
                font-size: 60px;
                cursor: pointer;
            }
        }
    }
}